<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Confirm New Expense</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1> Confirm Expense</h1>
<form>
  <label for="category">Category:</label><br>
  <input type="text" id="category" name="category"><br>
  <label for="date">Date:</label><br>
  <input type="text" id="date" name="date"><br>
  <label for="amount">Amount:</label><br>
  <input type="text" id="amount" name="amount"><br>
  <br><br><br>
  <input type="submit" value="Add Expense"><br>
</form>
</body>
</html>