<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Confirm New Expense</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
  <script src="https://kit.fontawesome.com/22f447701c.js" crossorigin="anonymous"></script>
  <style>
        body {
            font-family: Arial,serif;
            text-align: center;
        }

        .body {
            margin: 2%;
            font-family: Arial,serif;
        }

        .header {
            padding: 4%;
            text-align: center;
            color: white;
            font-size: 15px;
            background: linear-gradient(-45deg, #0159CA, #0178CA, #019CCA, #06C1BE, #019CCA, #0178CA, #0159CA);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
            width:100%;
        }

                @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand">
          <i class="fas fa-money-bill-wave"></i>
        </a>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <p th:each="budget : ${budgets}" style="float: left;">
        <li class="nav-item">
          <a th:href="@{/budget/{id}(id=${budget.id})}" class="nav-link active" aria-current="page">Budget View</a>
        </li>
        </p>
        <p th:each="budget : ${budgets}">
        <li class="nav-item">
          <a th:href="@{/scan/{id}(id=${budget.id})}" class="nav-link active" aria-current="page">New Expense</a>
        </li>
        </p>
      </ul>
    </div>
  </div>
</nav>

<div class="header">
  <h1>Confirm New Expense</h1>
</div>

<!--<div class="body">-->
<!--  <p>Expense id: <p th:text="${expense.id}"></p></p>-->
<!--  <p>Expense category: <p th:text="${expense.category}"></p></p>-->
<!--  <p>Expense cost: <p th:text="${expense.cost}"></p></p>-->


<!--<div class="body">-->
<!--  <form>-->
<!--    <div>-->
<!--      <h2 for="category">Category: Grocery</h2>-->
<!--    </div>-->
<!--    <div style="margin: 2%;">-->
<!--      <h2 for="date">Date: June 10, 2021</h2>-->
<!--    </div>-->
<!--    <div style="margin: 2%;">-->
<!--      <h2 for="amount">Amount: $100</h2>-->
<!--    </div>-->
<!--    <div style="text-align: center; padding-top: 4%;">-->
<!--      <a href="/budget-01" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-right: 2.5%; width: 10%">Add Expense</a>-->
<!--      <a href="/scan" aria-pressed="true" role="button" class="btn btn-outline-primary btn-lg " style="margin-left: 2.5%; width: 10%">Cancel</a>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<!--<div id="manualExpenseInputs">-->
<!--  <form action="/action_page.php">-->
<!--    <div style="margin: 2%;">-->
<!--      <h2 for="country">Category</h2>-->
<!--      <select th:field="*{expense.category}">-->
<!--        <option value="Grocery">Grocery</option>-->
<!--        <option value="Rent">Rent</option>-->
<!--        <option value="Mortgage">Mortgage</option>-->
<!--        <option value="Entertainment">Entertainment</option>-->
<!--        <option value="Transportation">Transportation</option>-->
<!--        <option value="Laundry">Laundry</option>-->
<!--        <option value="Utilities">Utilities</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div style="margin: 2%;">-->
<!--      <h2 for="amount">Amount</h2>-->
<!--      <div class="flex">-->
<!--        <span class="currency"><b>$</b></span>-->
<!--&lt;!&ndash;        <input id="amount" name="amount" type="number" maxlength="15" />&ndash;&gt;-->
<!--        <input  type="number" th:field="*{expense.cost}">-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<form th:action="@{/scan-complete}" th:object="${expense}" method="post">
  <p>Category: </p><select th:field="*{category}" >
            <option value="Grocery">Grocery</option>
            <option value="Rent">Rent</option>
            <option value="Mortgage">Mortgage</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Transportation">Transportation</option>
            <option value="Laundry">Laundry</option>
            <option value="Utilities">Utilities</option>
  </select>
  <p>Amount: </p><input type="number" th:field="*{cost}">
  <div style="text-align: center; padding-top: 4%;">
    <!--            <button type="button submit" name = "submit" class="btn btn-outline-primary" style="margin-right: 5%; width: 20%">Submit</button>-->
    <p th:each="budget : ${budgets}">
      <input type="hidden" name="id" th:value="${budget.id}"/>
      <button type="button submit" name = "submit" class="btn btn-outline-primary" style="margin-right: 5%; width: 20%">Submit</button>
      <a th:href="@{/scan/{id}(id=${budget.id})}" class="btn btn-outline-primary" style="margin-left: 5%; width: 20%">Cancel</a>
    </p>
  </div>
</form>
  <div style="text-align: center; padding-top: 4%;">
<!--    <a href="/validate-expense" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="margin-right: 5%; width: 20%">Submit</a>-->

      <a href="/scan" aria-pressed="true" role="button" class="btn btn-outline-primary btn-lg " style="margin-left: 5%; width: 20%">Cancel</a>
  </div>
</body>
</html>